.cards-title,
.displaystate-text {
    font-size: 20px;
    color: black;
    padding: 8px;
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-data-button {
    margin: 0 8px;
}

.display-container .display-button-container {
    display: flex;
    flex-direction: row;
    padding: 8px;
}
